<!DOCTYPE html>
<html ng-app>
	<head>
		<title>EZTravel</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
		<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/account">About... me?</a> | 
			</p>
		<% } %>
		<%- body %>
	</body>
</html>